[submodule "skysoraBlog/themes/hugo-theme-stack"]
	path = skysoraBlog/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "skysoraBlog/hugo-theme-stack-starter"]
	path = skysoraBlog/hugo-theme-stack-starter
	url = https://github.com/CaiJimmy/hugo-theme-stack-starter
[submodule "skysoraBlog/skysora.github.io"]
	path = skysoraBlog/skysora.github.io
	url = https://github.com/skysora/skysora.github.io.git
	branch = main
[submodule "skysoraBlog/public"]
	path = skysoraBlog/public
	url = https://github.com/skysora/skysora.github.io.git
	branch = main
